<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>



<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:insert="/fragments/commonui :: userhead"></div>
	<div th:insert="/fragments/commonui :: usermenu"></div>


	<div class="container">
		<div class="card">
			<div class="card-header bg-success text-white text-center">
				<h3>Part Register Page</h3>
			</div>
			<div class="card-body bg-light">
				<form th:action="@{/part/save}" method="post" th:object="${part}"
					id="formsubmit">

					<div class="row">
						<div class="col-2">
							<label for="partCode">PART CODE</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{partCode}" id="partCode"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="partCodeError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-2">
							<label for="">PART DIMENSIONS</label>
						</div>
						<div class="col-5">
							<div class="row">
								<div class="col-4">
                                    <label for="partLength">LENGTH</label>
									<input type="text" th:field="*{partLength}" id="partLength"
									class="form-control" />
								</div>
								<div class="col-4">
                                    <label for="partWidth">WIDTH</label>
									<input type="text" th:field="*{partWidth}" id="partWidth"
									class="form-control" />
								</div>
								<div class="col-4">
                                    <label for="partHeight">HEIGHT</label>
									<input type="text" th:field="*{partHeight}" id="partHeight"
									class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-5">
							<span id="partLengthError"></span>
                            <span id="partWidthError"></span>
                            <span id="partHeightError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="partCost">COST</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{partCost}" id="partCost"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="partCostError"></span>
						</div>
					</div>

                    <div class="row">
						<div class="col-2">
							<label for="partCurrency">CURRENCY</label>
						</div>
						<div class="col-5">
							<select th:field="*{partCurrency}" id="partCurrency"
								class="form-control">
								<option value="">--SELECT--</option>
								<option value="INR">INR</option>
								<option value="USD">USD</option>
								<option value="AUS">AUS</option>
								<option value="ERU">ERU</option>
							</select>
						</div>
						<div class="col-5">
							<span id="partCurrencyError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-2">
							<label for="gstSlob">GST SLOB</label>
						</div>
						<div class="col-5">
							<select th:field="*{gstSlob}" id="gstSlob"
								class="form-control">
								<option value="">--SELECT--</option>
								<option value=10>10%</option>
								<option value=12>12%</option>
								<option value=18>18%</option>
								<option value=24>24%</option>
								<option value=36>36%</option>
							</select>
						</div>
						<div class="col-5">
							<span id="gstSlobError"></span>
						</div>
					</div>

                    <div class="row">
						<div class="col-2">
							<label for="">UOM</label>
						</div>
						<div class="col-5">
							
							<select th:field="*{uom.id}" id="uomId"
								class="form-control">
								<option value="">--SELECT--</option>
								<option th:each="ob:${uoms}" th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="partCurrencyError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-2">
							<label for="">ORDER SALE</label>
						</div>
						<div class="col-5">
							
							<select th:field="*{orderMethodSale.id}" id="orderMethodSaleId"
								class="form-control">
								<option value="">--SELECT--</option>
								<option th:each="ob:${ordersales}" th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="orderMethodSaleError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-2">
							<label for="">ORDER PURCHASE</label>
						</div>
						<div class="col-5">
							
							<select th:field="*{orderMethodPurchase.id}" id="orderMethodPurchaseId"
								class="form-control">
								<option value="">--SELECT--</option>
								<option th:each="ob:${orderpurchase}" th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="orderMethodPurchaseError"></span>
						</div>
					</div>

					<input type="submit" value="ADD PART" class=" btn btn-success" />
				</form>
			</div>
			<div class="card-footer text-center" th:if="${message}">
				<span th:text="${message}" class="alert-info"></span>
			</div>
		</div>
	</div>

</body>
</html>