<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:insert="/fragments/commonui :: userhead"></div>
	<div th:insert="/fragments/commonui :: usermenu"></div>

	<div class="container">
		<div class="card">
			<div class="card-header bg-success text-white text-center">
				<h3>ShipmentType Register Page</h3>
			</div>
			<div class="card-body bg-light">
				<form th:action="@{/st/save}" method="post" th:object="${shipment}"
					id="formsubmit">

					<div class="row">
						<div class="col-2">
							<label for="shipmentMode">SHIPMENT MODE</label>
						</div>
						<div class="col-5">
							<select th:field="*{shipmentMode}" id="shipmentMode"
								class="form-control">
								<option value="">--SELECT--</option>
								<option value="AIR">AIR</option>
								<option value="SHIP">SHIP</option>
								<option value="TRUCK">TRUCK</option>
								<option value="TRAIN">TRAIN</option>
							</select>
						</div>
						<div class="col-5">
							<span id="shipmentModeError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="shipmentCode">SHIPMENT CODE</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{shipmentCode}" id="shipmentCode"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="shipmentCodeError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="enableShipment">ENABLE SHIPMENT</label>
						</div>
						<div class="col-5">
							<input class="form-check-input" type="radio"
								th:field="*{enableShipment}" name="enableShipment" value="YES">YES
							<input class="form-check-input" type="radio"
								th:field="*{enableShipment}" name="enableShipment" value="NO">NO
						</div>
						<div class="col-5">
							<span id="enableShipmentError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="shipmentGrade">SHIPMENT GRADE</label>
						</div>
						<div class="col-5">
							<input class="form-check-input" type="radio"
								th:field="*{shipmentGrade}" name="shipmentGrade" value="A">A
							<input class="form-check-input" type="radio"
								th:field="*{shipmentGrade}" name="shipmentGrade" value="B">B
							<input class="form-check-input" type="radio"
								th:field="*{shipmentGrade}" name="shipmentGrade" value="C">C

						</div>
						<div class="col-5">
							<span id="shipmentGradeError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="description">DESCRIPTION</label>
						</div>
						<div class="col-5">
							<textarea rows="" cols="" th:field="*{description}"
								id="description" class="form-control"></textarea>
						</div>
						<div class="col-5">
							<span id="descriptionError"></span>
						</div>
					</div>

					<input type="submit" value="ADD SHIPMENT" class=" btn btn-success" />
				</form>
			</div>
			<div class="card-footer text-center" th:if="${message}">
				<span th:text="${message}" class="alert-info"></span>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/ShipmentTypeRegister.js}"></script>

</body>
</html>