<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:insert="/fragments/commonui :: userhead"></div>
	<div th:insert="/fragments/commonui :: usermenu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-success text-white text-center">
				<h3>UOM DATA PAGE</h3>
			</div>
			<div class="card-body bg-light">
				<a th:href="@{/uom/excel}" class="btn btn-warning">EXCEL EXPORT</a>
				| <a th:href="@{/uom/pdf}" class="btn btn-warning">PDF EXPORT</a>
				
				<form th:action="@{/uom/all}" method="get" th:object="${uom}" class="mt-4 mb-4">
					<input type="text" th:field="*{uomModel}" placeholder="SEARCH MODEL">
					<input type="submit" value="SEARCH">
				</form>
				
				
				<table class="table table-hover text-center">
					<tr class="bg-info text-white">
						<th>ID</th>
						<th>TYPE</th>
						<th>MODEL</th>
						<th>DESCRIPTION</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.uomType}"></td>
						<td th:text="${ob.uomModel}"></td>
						<td th:text="${ob.description}"></td>
						<td><a class="btn btn-danger"
							th:href="@{/uom/delete?id={data}(data=${ob.id})}">DELETE</a> | <a
							class="btn btn-info"
							th:href="@{/uom/edit?id={data}(data=${ob.id})}">EDIT</a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer text-white text-center" th:if="${message}">
				<span th:text="${message}" class="alert-info"></span>
			</div>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<!-- Previous button -->
				<li th:if="${page.hasPrevious}" class="page-item"><a
					class="page-link" th:href="@{/uom/all(page=${page.number - 1}, uomModel=${uom.uomModel})}"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
				</a></li>

				<!-- Show current -1, current, current+1 -->
				<th:block
					th:each="i : ${#numbers.sequence(
                              page.number > 0 ? page.number - 1 : 0, 
                              page.number + 1 < page.totalPages ? page.number + 1 : page.totalPages - 1)}">
					<li class="page-item"
						th:classappend="${i == page.number} ? 'active'"><a
						class="page-link" th:href="@{/uom/all(page=${i}, uomModel=${uom.uomModel})}"
						th:text="${i + 1}"></a></li>
				</th:block>

				<!-- Next button -->
				<li th:if="${page.hasNext}" class="page-item"><a
					class="page-link" th:href="@{/uom/all(page=${page.number + 1}, uomModel=${uom.uomModel})}"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
						class="sr-only">Next</span>
				</a></li>
			</ul>
		</nav>


	</div>
</body>
</html>