<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="container">
        <div class="card-header bg-success text-white text-center">
            <h2>WH-USER REGISTER PAGE</h2>
        </div>
        <div class="card-body bg-light">
            <form th:action="@{/whuser/save}" method="post" id="formsubmit" th:object="${whuser}">
                <div class="row">
                    <div class="col-2">
                        <label for="userType">USER TYPE</label>
                    </div>
                    <div class="col-5">
                        <input class="form-check-input" type="radio" th:field="*{userType}" name="userType" value="Vendor">Vendor
                        <input class="form-check-input" type="radio" th:field="*{userType}" name="userType" value="Customer">Customer
                    </div>
                    <div class="col-5">
                        <span id="userTypeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="userFor">USER CODE</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{userCode}" name="userCode" id="userCode" class="form-control" >
                    </div>
                    <div class="col-5">
                        <span id="userCodeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="userFor">USER FOR</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{userFor}" name="userFor" id="userFor" class="form-control" readonly>
                    </div>
                    <div class="col-5">
                        <span id="userForError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="userEmail">USER EMAIL</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{userEmail}" name="userEmail" id="userEmail" class="form-control" >
                    </div>
                    <div class="col-5">
                        <span id="userEmailError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="userContact">USER CONTACT</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{userContact}" name="userContact" id="userContact" class="form-control" >
                    </div>
                    <div class="col-5">
                        <span id="userContactError"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-2">
                        <label for="userIdType">USER ID TYPE</label>
                    </div>
                    <div class="col-5">
                        <select th:field="*{userIdType}" id="userIdType"
                            class="form-control">
                            <option value="">--SELECT--</option>
                            <option value="PAN CARD">PAN CARD</option>
                            <option value="AADHAR">AADHAR</option>
                            <option value="VOTER ID">VOTER ID</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <span id="userIdTypeError"></span>
                    </div>
                </div>

                <div class="row" id="ifOtherRow">
                    <div class="col-2">
                        <label for="ifOther">IF OTHER *</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{ifOther}" name="ifOther" id="ifOther" class="form-control">
                    </div>
                    <div class="col-5">
                        <span id="ifOtherError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="idNumber">USER ID NUMBER</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{idNumber}" name="idNumber" id="idNumber" class="form-control" >
                    </div>
                    <div class="col-5">
                        <span id="idNumberError"></span>
                    </div>
                </div>


                <input type="submit" value="ADD USER" class=" btn btn-success">
            </form>
        </div>
        <div class="card-footer text-center" th:if="${message}">
            <span th:text="${message}" class="alert-info"></span>
        </div>
    </div>

    <script>

        $(document).ready(function(){

            $("#userTypeError").hide();
            $("#userIdTypeError").hide();
            $("#ifOtherRow").hide();
            $("#ifOtherError").hide();
            $("#userCodeError").hide();
            $("#userEmailError").hide();
            var userTypeError=false;
            var userIdTypeError=false;
            var ifOtherError= true;
            var userCodeError=false;
            var userEmailError=false;
            function validate_usertype(){
                var userLength = $('[name=userType]:checked').length;
                if(userLength==0){
                    $("#userTypeError").show();
                    $("#userTypeError").html("<b>Please choose User type</b>");
                    $("#userTypeError").css('color',"red");
                    userTypeError=false;
                }
                else{
                    $("#userTypeError").hide();
                    autoFill();
                    userTypeError=true;
                }
            }

            function autoFill(){
                var userVal = $('[name=userType]:checked').val();
                    if(userVal=='Vendor'){
                        
                        $("#userFor").val('Purchase')
                    }
                    else{
                        $("#userFor").val('Sale')
                    }
            }

            function validate_userIdType(){
                var userIdType = $("#userIdType").val();
                if(userIdType == ''){
                    $("#userIdTypeError").show();
                    $("#userIdTypeError").html("<b>Please select a User Id Type.</b>");
                    $("#userIdTypeError").css('color',"red");
                    userIdTypeError=false;
                }
                else{
                    $("#userIdTypeError").hide();
                    if(userIdType=="OTHER"){
                        $("#ifOtherRow").show();
                        validate_ifOther();
                    }
                    else{
                        $("#ifOtherRow").hide();
                        $("#ifOther").val($("#userIdType").val());
                        ifOtherError=true;
                    }
                    userIdTypeError=true;
                }
            }

            function validate_ifOther(){
                var ifOther= $("#ifOther").val();
                if(ifOther==''){
                    $("#ifOtherError").show();
                    $("#ifOtherError").html("<b>Please Enter the ID Type.</b>");
                    $("#ifOtherError").css('color',"red");
                    ifOtherError=false;
                }
                else{
                    $("#ifOtherError").hide();
                    ifOtherError=true;
                }
            }

            function validate_userCode(){
                var userCode= $("#userCode").val();
                var exp=/^[A-Z\s\-]{4,8}$/
                if(userCode==''){
                    $("#userCodeError").show();
                    $("#userCodeError").html("<b>Please Enter User code</b>");
                    $("#userCodeError").css('color',"red");
                    userCodeError=false;
                }
                else if(!exp.test(userCode)){
                    $("#userCodeError").show();
                    $("#userCodeError").html("<b>User Code must be 4–8 uppercase letters. Only spaces and hyphens are allowed.</b>");
                    $("#userCodeError").css('color',"red");
                    userCodeError=false;
                }
                else{
                    $("#userCodeError").hide();
                    userCodeError=true;

                }
            }

            function validate_userEmail(){
                var userEmail= $("#userEmail").val();
                var exp=/^[A-Za-z0-9\-\.]+\@[a-z]+\.[a-z\.]{2,10}$/
                if(userEmail==''){
                    $("#userEmailError").show();
                    $("#userEmailError").html("<b>Please Enter User EMAIL</b>");
                    $("#userEmailError").css('color',"red");
                    userEmailError=false;
                }
                else if(!exp.test(userEmail)){
                    $("#userEmailError").show();
                    $("#userEmailError").html("<b>Please Enter valid EMAIL</b>");
                    $("#userEmailError").css('color',"red");
                    userEmailError=false;
                }
                else{

                    $.ajax({
                        url : 'validate-email',
                        data : {'email' : userEmail},
                        success: function(responseTxt){
                            if(responseTxt==''){
                                $("#userEmailError").hide();
                                userEmailError=true;
                            }
                            else{
                                $("#userEmailError").show();
                                $("#userEmailError").html("<b>Email already exists</b>");
                                $("#userEmailError").css('color',"red");
                                userEmailError=false;
                            }
                        }
                    })

                }
            }

            $('[name=userType]').change(function(){

                validate_usertype();

            });

            $("#userIdType").change(function(){
            	$("#ifOther").val("");
                validate_userIdType();

            });

            $("#ifOther").keyup(function(){
                $("#ifOther").val($("#ifOther").val().toUpperCase())
                validate_ifOther();
            });

            $("#userCode").keyup(function(){
                $("#userCode").val($("#userCode").val().toUpperCase());
                validate_userCode();
            });

            $("#userEmail").keyup(function(){
                validate_userEmail();
            });

            $("#formsubmit").submit(function(){
                validate_usertype();
                validate_userIdType();
                validate_ifOther();
                validate_userCode();
                validate_userEmail();
                if(userTypeError && userIdTypeError && ifOtherError && userCodeError && userEmailError){
                    
                    return true;
                }
                else{
                    return false
                }
            });


        });

        

    </script>
</body>
</html>